
<input id="id_{{ name }}" value="{{ display_value|default:'' }}" size="40" class="autocomplete-widget" type="text"
    style="padding: 5px;" 
    placeholder="start typing to find {{ opts.verbose_name_plural }}..." />
<img src="/media/img/admin/selector-search.gif" style="position: absolute; margin: 6px 0 0 -20px; opacity: .3;">
<input id="id_{{ name }}-data" value="{{ value|default:'' }}" name="{{ name }}" type="hidden" />
<style>.ui-autocomplete li {list-style-type: none;}</style>
<script type="text/javascript">
    $("#id_{{ name }}").autocomplete({
        minLength: 2,
        select: function(event, ui) {
            if (ui.item) {
                $("#id_{{ name }}").val(ui.item.label);
                $("#id_{{ name }}-data").val(ui.item.label);
            } else {
                $("#id_{{ name }}").val("");
                $("#id_{{ name }}-data").val("");
            }
            return false;
        },
        focus: function(event, ui) {
            $("#id_{{ name }}").val(ui.item.label)
            return false;
        },
        source: function( request, response ) {
            $.getJSON("{{ url }}?template={{ template }}{% for name,value in filters.items %}&{{ name }}={{ value }}{% endfor %}", {
                "q": request.term
            }, response);
        },
    }).keydown(function (evt) {
        if (evt.keyCode == 9 || evt.keyCode == 13) {
            // nothing
        } else {
            $("#id_{{ name }}-data").val("");
        }
    });
    $("#id_{{ name }}").blur( function() {
    	if($("#id_{{ name }}-data").val() == '') {
    		$("#id_{{ name }}-data").val($(this).val()); 
    	}
    }); 
</script>