{% extends "base/detail.html" %}
{% load url from future %}
{% load ci_tags %}

{% block extrastyles %}
<style>
    thead {
        font-size: 14pt;
    }
    td pre {
        white-space: pre;
    }
</style>
{% endblock extrastyles %}

{% block extrascripts %}
<script>
    $("#test-button").click(function() {
        $(this).addClass("disabled");
        
    });
</script>
{% endblock extrascripts %}

{% block links %} 
    <a href="{% url 'ci-projects:detail' object.project.slug %}" class="btn">View Project</a>
    <a href="{% url 'base:update' object.project.slug object.slug %}" class="btn btn-info">Update</a>
    <a href="{% url 'base:delete' object.project.slug object.slug %}" class="btn btn-danger">Delete</a> 
{% endblock %}

{% block detail %}

<div class="well">

    {% with server=object.get_server %}
    {% if not server %}
    <form class="pull-right" method="post" action="{% url 'base:start' object.project.slug object.slug %}">
        <button class="btn btn-info">Start Server</button>{% csrf_token %}
    </form>
    {% else %}
    <form class="pull-right" method="post" action="{% url 'base:stop' object.project.slug object.slug %}">
        <a target="_blank" href="http://{{ request|host_only }}:{{ server.port }}">View server on port {{ server.port }}</a>
        <button class="btn btn-info">Stop Server</button>{% csrf_token %}
    </form>    
    {% endif %}
    {% endwith %}

    <form class="pull-right" method="post" action="{% url 'base:pull' object.project.slug object.slug %}">
        <button class="btn">Pull</button>{% csrf_token %}
    </form>   
    <form style="margin: 0;" method="post" action="{% url 'base:test' object.project.slug object.slug %}">
        <button id="test-button" class="btn btn-danger">Run Tests</button>
    </form>
</div>


{% if object.output %}
<div>
    <button type="button" class="btn btn-link" href="" data-toggle="collapse" data-target="#output">Show Output</button>
    <div id="output" class="collapse">
        <pre>
        {{ object.output }}
        </pre>
    </div>
</div>
{% endif %}

<table class="table">
    <tr>
        <th>Last Test Run</th>
        <td name="{{ object.name }}" branch="{{ object.branch }}">
            {{ object.last_run.created_at }}
        </td>
    </tr>
    <tr>
        <th>Summary</th>
        <td>
            {% for stat in object.stats %}
            {{ stat.status }}: 
            <span class="label label-{{stat.status }}">
                {{ stat.count }}
            </span>{% endfor %}
        </td>
    </tr>{% with head=object.git_head %}{% if head %}
    <tr>
        <th>Last Commit</th>
        <td>
            <table class="table table-condensed">
                <tr>
                    <th>SHA</th>
                    <td>{{ head.commit }}</td>
                </tr>
                <tr>
                    <th>Commit Time</th>
                    <td>{% if head.date %}
                        {{ head.date }}{% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Author</th>
                    <td>
                        {{ head.author }}
                    </td>
                </tr>
                <tr>
                    <th>Message</th>
                    <td>
                        {{ head.message|linebreaksbr }}
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                    </td>
                </tr>
            </table>
        </td>
    </tr>{% endif %}{% endwith %}
</table>

{% if object.testrun_set.exists %}
<table class="table table-striped">
{% for run in object.testrun_set.failures %}
{% ifchanged run.module %}
    <thead>
        <tr>
            <th colspan="4">{{ run.module }}</th>
        </tr>
    </thead>
{% endifchanged %}
    <tr>
        <td><span class="label label-{{ run.label }}">{{ run.status }}</span></td>
        <td>
            {{ run.name }}{% if run.description %}<br>
            <span class="muted">{{ run.description }}</span>{% endif %}
        </td>        
    </tr>{% if run.error %}
    <tr>
        <td colspan="2">
            <pre>{{ run.error|linebreaksbr }}</pre>
        </td>            
    </tr>{% endif %}
{% endfor %}
</table>
{% else %}
<em>No tests have been run</em>
{% endif %}

{% endblock %}