{% load paginator %}{% for p in page|pages:3 %}
    {% if p %}
        {% if p.number == page.number %}
        <span class="btn this-page">{{ p.number }}</span>
        {% else %}
        <a class="btn" href="?page={{ p.number }}">{{ p.number }}</a>
        {% endif %}
    {% else %}
    <span>...</span>
    {% endif %}
{% endfor %}