<div class="inline form-horizontal">
    <fieldset>
        <legend>{{ inline.opts.verbose_name_plural.title }}</legend>
        {{ inline.formset.management_form }}
        {{ inline.formset.non_form_errors }}
        <div class="form">{% for form in inline.formset.forms %}
             {% include 'forms/bootstrap.html' %}{% endfor %}
        </div>
    </fieldset>
</div>