<!DOCTYPE html>
<html lang="en">
    <head>        
        <meta charset="utf-8">
        <title>{% block title %}CI Server{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        
        <link rel="shortcut icon" href="/media/images/cont.png">
        <link rel="stylesheet" href="/media/bootstrap/css/bootstrap.min.css" />
        <style type="text/css">
            body {
                padding-top: 60px;
            }
            .container-fluid {
                max-width: 1024px;
                margin: 0 auto;
            }
            .navbar .brand {
                color: #fff
            }
            #options { float: right; }
            #search { float: left; margin: 0 20px 20px 0; }
            li { margin: 3px; }
            .row, .row-fluid { margin-bottom: 15px; }
            .coming-soon-header { text-align: center; }
            .category_description { text-align: center; padding: 15px; padding-top: 0 }
        </style>
        <link rel="stylesheet" href="/media/bootstrap/css/bootstrap-responsive.min.css" />

        {% block extrastyles %}{% endblock %}
    </head>
    <body>
        <div id="wrapper">
            <div class="navbar navbar-inverse navbar-fixed-top">
              <div class="navbar-inner">
                <div class="container-fluid">
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>
                  <a class="brand" href="/">CI Server</a>
                  <div class="nav-collapse collapse">
                    <p class="navbar-text pull-right">
                      {{ user.get_full_name|default:user }}
                      {% if user.is_authenticated %}(<a href="{% url auth:logout %}">log out</a>){% endif %}
                    </p>
                    <ul class="nav">
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="container-fluid">
                {% if messages %}
                <ul class="unstyled messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <ul class="breadcrumb">{% block navigation %}
                    <li class="active">Home</li>{% endblock %}
                </ul>
                <div id="content">
                    <div id="options">{% block options %}{% endblock %}
                    </div>
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <script src="{{ STATIC_URL }}scripts/jquery-2.0.3.min.js"></script>
        <script src="/media/bootstrap/js/bootstrap.min.js"></script>
        <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        </script>
        <script src="{{ STATIC_URL }}scripts/socket.io.js"></script>
        <script>
        $(function() {

            //{% if user.notifications.test_started %}
            console.log("send html notification on test start");
            //{% else %}
            console.log("Don't send html notification on test start");
            //{% endif %}
            
	        var socket = io.connect('/default');
            socket.on("connect", function() {
            	socket.emit("identify", function(data) {
            	    console.log(data);
                });
            });
            socket.on('welcome', function (data) {
                console.log(data);
            });
            socket.on('test_progress', function (data) {  
            	console.log("test progress", data);
            });       
        });
        </script>
        {% block extrascripts %}{% endblock %}
    </body>
</html>