{% load googlecharts_tags %}

<div id="gSalesTotals" style="width:700; height:300;"></div>
<script type="text/javascript">
	//google.load("visualization", "1", { packages:["corechart"] }); 
	google.setOnLoadCallback(gDrawSalesTotals);
		
	function gDrawSalesTotals() {
	    window._salesTotalData = new google.visualization.DataTable();
	    window._salesTotalFormater = new google.visualization.NumberFormat({ prefix:'$' }); 
		window._salesTotalChart = new google.visualization.ColumnChart(document.getElementById('gSalesTotals'));
		window._salesTotalOptions = {
			width: 700, height: 300,  
			animation: { easing: 'out', duration: 1000 }, 
			title: 'Daily Sales Summary from {{ start_date|date:"m/d/Y" }} to {{ end_date|date:"m/d/Y"}}',
			hAxis: { title: 'Days (Total: ${{ total_sales|floatformat:"2" }})', minValue: 0 }, 
		    vAxis: [{ title: 'Sales Totals $(USD)', minValue: 0, maxValue: {{ maximum_value }}, textPosition: 'out'},
                               // { title: 'Transactions Per Day', minValue: 0, maxValue: {{ maximum_count }}, textPosition: 'in'}
                               ]
                    //series: [{color: 'blue',visibleInLegend: true},{color: 'purple', targetAxisIndex:1,visibleInLegend: true}]
		};
		
	    window._salesTotalData.addColumn('string', 'Year');
	    window._salesTotalData.addColumn('number', 'Sales');
	    //window._salesTotalData.addColumn('number', 'Transactions');
		{% if daily_totals %}
	    window._salesTotalData.addRows([
	    	{% for date,values in daily_totals.items %}
	    	['{{ date|date:"m/d" }}', {{ values.total }}]{% if not forloop.last %},{% endif %}{% endfor %}
	    ]);
		window._salesTotalFormater.format(window._salesTotalData, 1); 
		
		window._salesTotalChart.draw(window._salesTotalData, window._salesTotalOptions);
	    {% endif %}
	}
</script>
