{% load googlecharts_tags %}

<div id="gOrderNumbers" style="width:700; height:300;"></div>
<script type="text/javascript">
	//google.load("visualization", "1", { packages:["corechart"] }); 
	google.setOnLoadCallback(gDrawOrderNumbers);
	
	function gDrawOrderNumbers() {
		window._orderNumbersData = new google.visualization.DataTable();
		window._orderNumbersChart = new google.visualization.ColumnChart(document.getElementById('gOrderNumbers'));	
		window._orderNumbersOptions = {
			width: 700, height: 300,
			animation: { easing: 'out', duration: 1000 }, 
			title: 'Daily Transactions from {{ start_date|date:"m/d/Y" }} to {{ end_date|date:"m/d/Y"}}',
			hAxis: { title: 'Days (Transactions: {{ total_count }})', minValue: 0 }, 
			vAxis: { title: 'Daily Numbers', minValue: 0, maxValue: {{ maximum_value }} }, 
		};
		
		window._orderNumbersData.addColumn('string', ''); 
		window._orderNumbersData.addColumn('number', 'Orders'); 
		
		{% if daily_count %}
	    window._orderNumbersData.addRows([
	    	{% for date,count in daily_count.items %}
	    	['{{ date|date:"m/d" }}', {{ count}}]{% if not forloop.last %},{% endif %}{% endfor %}
	    	
	    ]);
	    window._orderNumbersChart.draw(window._orderNumbersData, window._orderNumbersOptions);
	    {% endif %}
	}
</script>
